body {
  margin: 0;
    font-family: "Helvetica", "Arial", sans-serif;
  font-size: small;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: capitalize;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #f2f2f2; /* xám */
}

tr:nth-child(odd) {
  background-color: #ffffff; /* trắng */
}



.page {
      width: 900px;
      margin: auto;
      background: #fff;
      padding: 40px;
      box-shadow: 0 0 0 10px #a9adb1;
      margin-top: 50px;
    }

    .label {
      margin-bottom: 40px;
    }

    .title {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .row {
      font-size: 24px;
      margin: 8px 0;
    }

    .row span.value {
      margin-left: 10px;
    }

    .weight {
      display: flex;
      justify-content: space-between;
      width: 300px;
    }

    .footer {
      text-align: center;
      margin-top: 20px;
      font-weight: bold;
      font-size: 16px;
    }